.Empty {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  width: 100vw;
  text-align: center;
  color: rgba(0,0,0,.56);
}

@media (min-width: 768px) {
  .Empty {
    width: 100%;
  }
}